.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}
.tshirts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.tshirt{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin: 15px 0;
    text-align: center;
}
.tshirt img{
    height: 250px;
}